html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #fffbf5;
  margin: 0;
  border: 0;
  padding: 0;
}
main img {
  width: 600px;
}
h1 {
  color: #fffbf5;
}

main {
  display: grid;
  grid-template-areas: "header header" "ingr tuto" "footer footer";
  grid-template-rows: 1fr 20fr 1fr;
}

main li {
  font-size: 20px;
  list-style-type: none;
}

header {
  grid-area: header;
  background-color: #674188;
  text-align: center;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background: rgb(137, 88, 179);
  background: linear-gradient(
    93deg,
    rgba(137, 88, 179, 1) 0%,
    rgba(103, 65, 136, 1) 94%
  );
}

.vector img {
  width: 800px;
  margin-left: 25vh;
  margin-top: 20vh;
}

.vector {
  /* background-color: #674188; */
}

.welcome {
  font-size: 148px;
  /* background-color: #674188; */
}

.welcome h2 {
  color: #fffbf5;
  font-family: "Caveat", cursive;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.46);
  margin-top: 20vh;
  margin-left: 10vh;
}

.ingredients {
  grid-area: ingr;
  padding-left: 5em;
  background-color: #f7efe5;
  /* grid-column: 1; */
}

.tutorial {
  grid-area: tuto;
  background-color: #c3acd0;
  color: #fffbf5;
  /* grid-column: 2; */
  padding-left: 5em;
}
a {
  color: #fffbf5;
}
footer {
  grid-area: footer;
  width: 100%;
}
.buttonContainer {
  margin-left: 20vh;
  margin-top: -20vh;
}

.introButton {
  left: 12220vh;
  font-family: helvetica;
  color: #674188 !important;
  font-size: 30px;
  text-shadow: 1px 1px 0px #674188;
  box-shadow: 0px 0px 0px #f9f9f9;
  padding: 22px 18px;
  border-radius: 40px;
  border: 3px solid #674188;
  background: #f7efe5;
}
.introButton:hover {
  color: C3ACD0 !important;
  background: #fffbf5;
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}
