html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #fffbf5;
  margin: 0;
  border: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 4vh;
  color: #fffbf5;
  font-size: 4vh;
}

h1 {
  color: #fffbf5;
}

main {
  display: grid;
  grid-template-areas: "header header" "ingr tuto";
  grid-template-rows: 1fr 20fr;
  grid-template-columns: 2fr 1fr;
  max-width: 100vw;
}

main img {
  width: 50vw;
}

li,
p {
  font-size: 20px;
  list-style-type: none;
}

header {
  grid-area: header;
  background-color: #674188;
  text-align: center;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  max-width: 100vw;
  background: rgb(137, 88, 179);
  background: linear-gradient(
    93deg,
    rgba(137, 88, 179, 1) 0%,
    rgba(103, 65, 136, 1) 94%
  );
}

.vector img {
  width: 70%;
  margin-left: 15vw;
  margin-top: 20vh;
}

.vector {
  /* background-color: #674188; */
}

.welcome {
  font-size: 6vw;
  /* background-color: #674188; */
}

.welcome h2 {
  color: #fffbf5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.46);
}

.ingredients {
  grid-area: ingr;
  padding-top: 3em;
  padding-right: 5em;
  padding-left: 5em;
  background-color: #f7efe5;

  /* grid-column: 1; */
}

.tutorial {
  grid-area: tuto;
  background-color: #c3acd0;
  color: #fffbf5;
  /* grid-column: 2; */
}
a {
  color: #000000;
}
/* footer {
  max-width: 100vw;
  height: 100px;
  background-color: #674188;
  padding-top: 25vh; 
}
*/
.buttonContainer {
  margin-left: 1em;
  margin-top: -1em;
}

.introButton {
  left: 12220vh;
  max-width: 45vw;
  max-height: 10vh;
  font-family: helvetica;
  color: #674188 !important;
  font-size: 2vw;
  text-shadow: 1px 1px 0px #674188;
  box-shadow: 0px 0px 0px #f9f9f9;
  padding: 22px 18px;
  border-radius: 20vh;
  border: 3px solid #674188;
  background: #f7efe5;
}
.introButton:hover {
  color: C3ACD0 !important;
  background: #fffbf5;
}
.secondGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 100vw;
}
.secondGrid img {
  width: 50vw;
}
.left {
  background-color: #f7efe5;
}

.right {
  background-color: #c3acd0;
  width: auto;
  padding-top: 3em;
  padding-right: 5em;
  padding-left: 5em;
  color: #fffbf5;
}

@media screen and (max-width: 700px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    max-width: 100vw;
    background: rgb(137, 88, 179);
    background: linear-gradient(
      93deg,
      rgba(137, 88, 179, 1) 0%,
      rgba(103, 65, 136, 1) 94%
    );
  }

  .vector img {
    width: 70%;
    margin-left: 15vw;
    margin-top: 15vh;
  }

  .welcome {
    font-size: 9vw;
    /* background-color: #674188; */
  }

  .welcome h2 {
    color: #fffbf5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.46);
    margin-top: -20vh;
    margin-left: 8vh;
  }

  .buttonContainer {
    margin-left: 1em;
    margin-top: 0em;
  }

  .introButton {
    max-width: 80vw;
    max-height: 10vh;
    font-family: helvetica;
    color: #674188 !important;
    font-size: 6vw;
    text-shadow: 1px 1px 0px #674188;
    box-shadow: 0px 0px 0px #f9f9f9;
    padding: 22px 18px;
    border-radius: 20vh;
    border: 3px solid #674188;
    background: #f7efe5;
  }

  main {
    display: grid;
    grid-template-areas: "header" "header" "ingr" "tuto";
    grid-template-rows: 1fr 1fr 20fr 20 fr;
    grid-template-columns: 100vw;

    width: 100vw;
  }

  main img {
    width: 100vw;
  }
  .ingredients {
    grid-area: ingr;
    padding-top: 3em;
    padding-right: 5em;
    padding-left: 5em;
    background-color: #f7efe5;

    /* grid-column: 1; */
  }

  .tutorial {
    grid-area: tuto;
    background-color: #c3acd0;
    color: #fffbf5;
    /* grid-column: 2; */
  }

  .secondGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    max-width: 100vw;
  }
  .secondGrid img {
    width: 100vw;
  }
}
